@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-pinterest2:before {
  content: "\ead2";
}

:root {
  --background:        #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background:      #fff;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: clip;
}

.text-wrap-balance {
  text-wrap: balance;
}

.text-wrap-pretty {
  text-wrap: pretty;
}

.hero-background-image {
  position: absolute;
  width: 180%;
  height: 100%;
  top: -44%;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('/bg-intro-desktop.svg');
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  margin-inline: auto;
}


@media (width > 640px) {
  .hero-background-image {
    width: 90%;
    top: -30%;
  }
}

@media (width > 768px) {
  .hero-background-image {
    width: 100%;
    top: 0;
    background-position: -20% center;
    transform: none;
  }
}
