@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  box-shadow: 0 0 80px 0 rgba(0, 0, 0, 0.1);
}

.container {
  overflow-x: clip;
}

.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-pinterest2:before {
  content: "\ead2";
}


body {
  background: #FAFAFA;
  font-family: "Public Sans", serif;
  overflow-x: clip;
}

.text-wrap-balance {
  text-wrap: balance;
}

.text-wrap-pretty {
  text-wrap: pretty;
}

.hero-background-image {
  position: absolute;
  width: 180%;
  height: 100%;
  top: -44%;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('/bg-intro-desktop.svg');
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  margin-inline: auto;
}

.container {
  max-width: 100%;
}

@media (width > 640px) {
  .hero-background-image {
    width: 90%;
    top: -10%;
  }
}

@media (width > 768px) {
  .hero-background-image {
    width: 100%;
    top: 0;
    transform: none;
  }
}

.phone-wrapper {
  display: grid;
  width: 80%;
  margin-inline: auto;
  min-height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas:
    "mc1 mc2 mc3";
}


@media (width > 1024px) {
  .hero-background-image {
    background-position: -20% center;
  }

  .phone-wrapper {
    width: 100%;
  }
}

.phone-1,
.phone-4 {
  grid-area: mc2;
}

.phone-2 {
  grid-area: mc1;
}

.phone-3 {
  grid-area: mc3;
}
.why-use-card .text-section {
  padding: 0;
}

.card-hover:hover img {
  transform: scale(1.1);
}

.card-hover:hover .title {
  color: #31d35c;
}
